* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(64, 118, 197);
}

/* login.html */
.box {
  background-color: white;
  margin: 5% auto 0 auto;
  padding: 20px;
  width: 400px;
}

.box > .logo img {
  position: relative;
  width: 60px;
}

.login {
  margin: -15% auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3 ~ form input {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.login > a input[type="submit"] {
  background-color: rgb(42, 42, 119);
  color: white;
  padding: 10px 20px;
}

.login > a:hover {
  color: rgb(62, 62, 226);
}

/* index.html */

#header nav {
  display: flex;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
}

#header > nav .search-container > input {
  box-sizing: border-box;
  height: 30px;
  width: 400px;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #e0e0e0;
}

#header > nav .search-container > button {
  box-sizing: border-box;
  height: 30px;
  width: 80px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  background-color: rgb(42, 42, 119);
  color: white;
}

#header img {
  width: 40px;
}

#posts_container {
  background-color: white;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 70%;
  border-radius: 1px;
  margin: 10px;
  box-shadow: 5px 5px 20px 3px rgb(151, 151, 151);
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.post .post_header {
  display: flex;
  justify-content: space-between;
}

.post .post_header .dateTime {
  flex-grow: 4;
}

.post .post_header .icon img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.post .post_header .dateTime p {
  text-align: right;
  color: rgb(126, 126, 126);
  padding-right: 10px;
}

.post .picture img {
  width: 100%;
}

.post .post_text p {
  padding: 10px;
}

.post .post_bottom {
  padding: 10px;
}

.post .post_bottom button img {
  width: 20px;
}

.post_header + .post_text {
  font-size: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p {
  color: black;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
}